{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="glass-container">
        <div class="login-box">
            <h2>Login</h2>
            <form action="a" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="options">
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">Recordarme</label>
                    <a href="#">¿Olvido su contraseña?</a>
                </div>
                <button type="submit">Login</button>
                <p>¿No tienes una cuenta? <a href="{% url 'signup' %}" id="signup">Registrarse</a></p>
            </form>
        </div>
    </div>    
</body>
</html>
