{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <div class="glass-container">
        <div class="register-box">
            <h2>Register</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <input type="text" id="username" name="username" required placeholder="Username">
                </div>
                <div>
                    <input type="password" id="password" name="password" required placeholder="Password">
                </div>
                <div>
                    <input type="password" id="confirm_password" name="confirm_password" required placeholder="Confirm Password">
                </div>
                <div>
                    <input type="text" id="first_name" name="first_name" required placeholder="First Name">
                </div>
                <div>
                    <input type="text" id="last_name" name="last_name" required placeholder="Last Name">
                </div>
                <div>
                    <input type="email" id="email" name="email" required placeholder="Email Address">
                </div>
                <div class="file-input-container">
                    <input type="file" id="profilepic" name="profilepic" accept="image/*">
                    <span class="optional-text">*opcional*</span>
                </div>
                <button type="submit">Register</button>
            </form>     
            <p>¿Ya tienes una cuenta?<a href="{% url 'login' %}">Iniciar sesion</a></p>
        </div>
    </div>    
</body>
</html>