{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{% static 'perfil.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Crear Ticket</a></li>
                <li><a href="{% url 'tickets' %}">Volver</a></li>
                <li><a href="#">Cerrar sesion</a></li>
            </ul>
        </nav>
    </header>
    <h1>Perfil de usuario</h1>
    <div class="container">
        <div class="perfil-box">
            <div class="profile-content">
                <div class="profile-image">
                    {% if usuario.profilepic %}
                        <img src="{{ usuario.profilepic.url }}" alt="Foto de perfil" width="150">
                    {% else %}
                        <img src="{{ default_pfp }}" alt="Foto de perfil por defecto" width="150">
                    {% endif %}
                </div>
                <div class="profile-info">
                    <div><p class="profile-label">Username:</p>{{ user.username }}</div>
                    <div><p class="profile-label">Nombre:</p>{{ user.first_name }} {{ user.last_name }}</div>
                    <div><p class="profile-label">Correo:</p>{{ user.email }}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
