{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <link rel="stylesheet" href="{% static 'tickets.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
                <li><a href="{% url 'crear_ticket' %}">Crear Ticket</a></li>
                <li><a href="#">Cerrar sesion</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <h1>Mis Tickets</h1>
        <div class="table-container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
                <tr>
                {% for ticket in tickets %}                 
                    <td>{{ticket.id_ticket}}</td>
                    <td>{{ticket.titulo}}</td>
                    <td>{{ticket.id_estado.estado}}</td>
                    <td><a href="{% url 'ver_ticket' ticket.id_ticket %}">Ver Ticket</a></td>
                {% endfor %}
                </tr>
            </table>
        </div>
    </div>
   
</body>
</html>